.faq-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: min(100%, 900px);
  margin: auto auto;
  padding: 1rem 1rem;
}

.faq-wrapper > * {
  font-family: "Inter", sans-serif;
  flex: 1 1 100%;
  text-wrap: wrap;
}

.faq-title {
  color: #1e4974;
  letter-spacing: 1px;
  margin-top: 1.25rem;
  font-weight: 700;
  font-size: 1.75rem;
}

.faq-intro {
  color: #1e4974;
  font-size: 1rem;
  margin-top: 3rem;
  align-self: flex-start;
}

.faq-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.faq-container > * {
  flex: 1 1 100%;
}

.question-answer-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.question-answer-container > * {
  font-family: "Inter", sans-serif;
  flex: 1 1 100%;
}

.question-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #1e4974;
  color: #fff;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.75rem 1rem;
  transition: background-color 0.15s ease-in-out;
}

.question-container:hover {
  background-color: #003366;
}

.question {
  font-weight: 600;
  font-size: 1rem;
}

.faq-plus-sign {
  display: inline-block;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.faq-plus-sign.toggled {
  transform: rotate(180deg);
}

.faq-answer {
  display: none;
  color: #1e4974;
  font-size: 0.95rem;
  width: 100%;
  font-weight: 500;
  margin-top: 0.5rem;
  align-self: flex-start;
  background-color: #eee;
  padding: 0.5rem 0.5rem;
}

.faq-answer.show-answer {
  display: block;
}
