.refund-policy-wrapper {
  display: flex;
  flex-direction: column;
  width: min(100%, 540px);
  margin: 4rem auto;
  margin-bottom: 3rem;
}

.refund-policy-title {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #1e4974;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-wrap: wrap;
}

.refund-policy-subtitle {
  font-size: 0.9rem;
  color: #1e4974;
  font-family: "Inter", sans-serif;
  text-wrap: wrap;
}

.refund-policy-wrapper > p {
  font-size: 0.95rem;
  font-family: "Inter", sans-serif;
  color: #1e4974;
}
